html,body {
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none:;
	/*overflow-x: hidden;*/
	width: 100%;
	--1vh: 1vh;
}

html {
	font-size: 100%;
	--webkit-text-size-adjust: 100%;
}

/************************************/
/*********  FONT FAMILIES	*********/
/************************************/
@font-face {
	font-family: exo-regular;
	src: url(../fonts/Exo/static/Exo-Regular.ttf);
}

@font-face {
	font-family: exo-bold;
	src: url(../fonts/Exo/static/Exo-Bold.ttf);
}

@font-face {
	font-family: rumraisin;
	src: url(../fonts/Rum_Raisin/RumRaisin-Regular.ttf);
}

@font-face {
	font-family: cinzel-bold;
	src: url(../fonts/Cinzel_Decorative/CinzelDecorative-Bold.ttf);
}

.font-h1 {
	font-family: cinzel-bold;
	font-size: 130px;
	text-shadow: 4px 4px #000;
}

.title-container .first {
	margin-left: 0px;
}

.title-container .second {
	text-align: right;
}

.font-medium {
	font-family: exo-regular;
	font-size: 28px;
}

.font-p {
	font-family: exo-bold;
	font-size: 20px;
}

.font-p2 {
	font-family: exo-bold;
	font-size: 12px;
}

.font-new {
	font-family: rumraisin;
	font-size: 14px;
	letter-spacing: 1.5px;
}

.wine .font-title {
	font-family: exo-bold;
	font-size: 36px;
	text-shadow: 1px 1px #999999;
}

.font-title {
	font-family: exo-bold;
	font-size: 32px;
	text-shadow: 1px 1px #999999;
}

.font-center {
	text-align: center;
}

.font-white {
	color: #fff;
}

.font-black {
	color: #000;
}

.font-dark-red {
	color: #9b0c0c;
}

.font-light-red {
	color: #e60000;
}

.font-underline {
	text-decoration: underline;
}

/****************************/
/*********  HOVER	*********/
/****************************/

body:not(.touch-device) .footer-container .footer-content .tel-item .link:hover {
	border-color: #c9bdbd;
	color: #c9bdbd;
}

body {
	margin: 0;
	background-color: #ffffed;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

.no-src.lazyload,
.no-src.lazyloading {
	opacity: 0;
}

.no-src.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}

.module-cover {
	position: relative;
	margin-bottom: calc(var(--1vh)*10);
}

.module-cover .cover-content {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(var(--1vh)*90);
}

.module-cover .bg-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.module-cover .bg-container img {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.module-cover .bg-container .bg-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(58,58,58,0.6);
}

.module-cover .title-container {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 55%;
}

.food-container {
	position: relative;
	display: block;
	width: 40%;
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.food-container.slider {
	width: 100%;
	max-width: none;
}

.food-container .food-content {
	position: relative;
	display: block;
}

.food-container .food-content .row-plate {
	margin-bottom: 15px;
}

.food-container .food-content .row-plate .plate {
	position: relative;
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.food-container .food-content .row-plate .prices {
	width: 20%;
	min-width: 130px;
}

.food-container .food-content .row-plate, .prices {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.food-container .food-content .prices {
	text-align: center;
	align-items: center;
}

.food-container.wine .food-content .row-plate {
	justify-content: center;
}

.food-content .row-plate .prices .price1.only-price {
	width: 100%;
}

.food-content .row-plate .prices .price1 {
	width: 50%;
}

.food-content .row-plate .prices .price2 {
	width: 50%;
}

.food-container.wine .food-content {
	margin-bottom: 40px;
}


.food-container.wine .food-content .row-plate .plate {
    margin-right: 0px;
}

.small-separator {
	width: 30%;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	border-top: 3px solid #bbb;
	border-radius: 5px;
	margin-bottom: 50px;
}

.big-separator {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border-top: 8px solid #bbb;
	border-radius: 5px;
	margin-bottom: 50px;
}

.margin-big {
	margin-bottom: 40px;
}

.margin-small {
	margin-bottom: 20px;
}

.novedad {
	position: relative;
	border-radius: 20px;
	padding: 2px 8px;
	background-color: #035f83;
	border: 2px solid black;
	margin-left: 20px;
}

.footer-container {
	position: relative;
	background-color: #9b0c0c;
	padding: 35px 0;
}

.footer-container .footer-content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer-container .footer-content .tel-item {
	margin-top: 30px;
	margin-bottom: 30px;
}

.footer-container .footer-content .tel-item .link {
	border-bottom: 2px solid white;
	color: white;
	transition: border-color .2s, color .2s;
}



/********************************/
/*********  MEDIA QUERY	*********/
/********************************/

@media(max-width: 1440px){

	.font-h1 {
		font-size: 120px;
	}

}

@media(max-width: 1250px){

	.font-h1 {
		font-size: 100px;
	}

}

@media(max-width: 1024px){

	.module-cover .title-container {
		width: 70%;
	}

	.font-p {
		font-size: 18px;
	}

	.font-title {
		font-size: 28px;
	}

	.food-container {
		width: 50%;
	}

}

@media(max-width: 768px){

	.font-h1 {
		font-size: 80px;
	}

	.footer-container .footer-content .font-p {
		font-size: 13px;
	}

	.module-cover {
		margin-bottom: 50px;
	}

	.module-cover .cover-content{
		height: calc(var(--1vh)*65);
	}

	.module-cover .title-container {
		width: 80%;
	}

	.food-container {
		width: 90%;
	}

	.small-separator {
		width: 60%;
	}

	.big-separator {
		width: 90%;
	}

	.food-container .food-content .row-plate .prices {
		min-width: 120px;
	}

	.font-medium {
		font-size: 21px;
	}

	.food-container .food-content .row-plate .plate {
		margin-right: 5px;
	}

	.food-container .food-content .row-plate {
		margin-bottom: 20px;
	}

	.food-container, .small-separator, .big-separator {
		margin-bottom: 30px;
	}

	.margin-big {
		margin-bottom: 20px;
	}

	.margin-small {
		margin-bottom: 10px;
	}

	.carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }

}

@media(max-width: 520px){

	.font-h1 {
		font-size: 50px;
	}

}

/****************************/
/*********  SLIDER	*********/
/****************************/

.splide__slide {
	margin-right: 20px;
	height: 27vw;
	max-height: 500px;

}

.splide__pagination {
	display: none;
}

.splide__slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.splide__arrow--next {
	right: 30px;
}

.splide__arrow--prev {
	left: 30px;
}

.splide__arrow {
	width: 50px;
	height: 50px;
}

.splide__arrow svg {
	width: 20px;
	height: 20px;
}

body:not(.touch-device) .splide__arrow:hover {
	opacity: 1;	
}

body:not(.touch-device) .splide__arrow {
	background: #9b0c0c;
	opacity: .5;
	transition: opacity .2s;
}

body.touch-device .splide__arrow {
	background: #9b0c0c;
	opacity: .5;
}


.splide__arrow svg path {
	fill: #ffffed;
}

.splide__track {
	width: 85%;
	margin-right: auto;
	margin-left: auto;
}


@media(max-width: 1250px){
	.splide__arrow {
		width: 40px;
		height: 40px;
	}

	.splide__arrow svg {
		width: 15px;
		height: 15px;
	}

	.splide__arrow--prev {
		left: 20px;
	}

	.splide__arrow--next {
		right: 20px;
	}
}

@media(max-width: 1024px){
	.splide__arrow--prev {
		left: 15px;
	}

	.splide__arrow--next {
		right: 15px;
	}

	.splide__slide {
		height: 38vw;
		max-height: unset;
	}
}

@media(max-width: 768px){
	
	.splide__arrow--prev {
		left: 12px;
	}

	.splide__arrow--next {
		right: 12px;
	}

	.splide__arrow {
		width: 35px;
		height: 35px;
	}

	.splide__track {
		width: 80%;
	}

	.splide__slide {
		height: 58vw;
	}

	.splide__slide img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

}

@media(max-width: 480px){
	
	.splide__arrow--prev {
		left: 10px;
	}

	.splide__arrow--next {
		right: 10px;
	}

	.splide__track {
		width: 70%;
	}

	.splide__slide {
		height: 90vw;
	}

}

/****************************/
/*********  PRELOAD	*********/
/****************************/

#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 150px;
	height: 150px;
	border-radius: 50%;

	z-index: 1001;
	animation: spin 2s linear infinite;

	&:before {
		content: "";
		position: absolute;
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 5px;
		border-radius: 50%;
		animation: spin 3s linear infinite;
	}

	&:after {
		content: "";
		position: absolute;
		top: 15px;
		right: 15px;
		left: 15px;
		bottom: 15px;
		border-radius: 50%;
	}
}

#loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background-color: #ffffed;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-blend-mode: multiply;
	z-index: 1000;
	transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
	left: 0;
}

#loader-wrapper .loader-section.section-right {
	right: 0;
}

#loader {
	display: block;
	width: 100px;
	height: 100px;
}

.circ-one {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	background: #9b0c0c;
	border-radius: 100%;
	opacity: .7;
	float: left;
	animation: load-x 1s cubic-bezier(0.445, 0.100, 0.550, 0.900) infinite;
}

.circ-two {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	background: #9b0c0c;
	border-radius: 100%;
	opacity: .7;
	float: right;
	animation: load-y 1s cubic-bezier(0.445, 0.100, 0.550, 0.900) infinite;
}

@keyframes load-x {
	0%   { left: -10px; transform: scale(1); }
	25%  { transform: scale(1.5); z-index: 2; }
	50%  { left: 60px; transform: scale(1); }
	75%  { transform: scale(0.5); z-index: 1; }
	100% { left: -10px; transform: scale(1); }
}

@keyframes load-y {
	0%   { right: -10px; transform: scale(1); }
	25%  { transform: scale(0.5); }
	50%  { right: 60px; transform: scale(1); z-index: 1; }
	75%  { transform: scale(1.5); z-index: 2; }
	100% { right: -10px; transform: scale(1); }
}

#loader p {
	text-align: center;
	font-family: exo-bold;
	color: #000;
	animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
	50% { opacity: 0.5; }
}

.loaded #loader-wrapper .loader-section.section-left {
	transform: translateY(-100%);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
	transform: translateY(100%);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
	opacity: 0;
	transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
	visibility: hidden;
	transform: translateX(-100%);
	transition: all 0.3s 1s ease-out;
}

